project_id = ""
[functions.get_financial_summary]
enabled = true
verify_jwt = true
import_map = "./functions/get_financial_summary/deno.json"
# Uncomment to specify a custom file path to the entrypoint.
# Supported file extensions are: .ts, .js, .mjs, .jsx, .tsx
entrypoint = "./functions/get_financial_summary/index.ts"
# Specifies static files to be bundled with the function. Supports glob patterns.
# For example, if you want to serve static HTML pages in your function:
# static_files = [ "./functions/get_financial_summary/*.html" ]
